.screen-transition {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: transitionFadeIn 0.5s ease-in forwards, transitionFadeOut 0.5s ease-out 1.5s forwards;
  opacity: 0;
}

.container-title {
  position: relative;
  margin: 0 auto;
  width: 65%;
  height: 13%;
  animation: transitionScaleUp 0.8s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  background-image: url(/public/assets/img/landing-page/title-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.title-era {
  font-size: 3.5vw;
  color: #e3e1cc;
  text-transform: uppercase;
  letter-spacing: 0.7vw;
  text-align: center;
  /* opacity: 0; */
  font-family: "MedusaGothic";
  font-weight: lighter;
}

@keyframes transitionFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes transitionScaleUp {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
} 