.puzzleCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 30%;
  height: 45%;
  background: transparent;
  background-color: blue;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.puzzleCard:hover {
  /* transform: translateY(-5px); */
}

.imageContainer {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzleImage {
  width: auto;
  height: 100%;
}

.content {
  padding: 0;
  background: transparent;
}

.difficultyContainer {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  background-color: yellowgreen;
}

.difficultyButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  outline: none;
}

.difficultyButton:hover {
  transform: scale(1.1);
}

.difficultyButton:active {
  transform: scale(0.95);
}

.difficultyIcon {
  width: 48px;
  height: 48px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.overlay {
  display: none;
}

.title {
  color: white;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  font-family: "MedusaGothic";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  min-height: 2.4rem;
  display: flex;
  align-items: center;
  line-height: 1.2;
  width: 100%;
  justify-content: center;
  background-color: pink;
  background: linear-gradient(135deg, #645942, #a88d5d, #645942);
  letter-spacing: 0.2vw;
  color: rgb(240, 240, 200);
} 