.achievement-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.achievement-description-container {
    width: 50%;
    height: 85%;
    display: flex;
    justify-content: space-between;
    align-items: top;
    position: relative;
    background-image: url(/public/assets/img/progress/progress-container.png);
    background-size: 80% 95%;
    background-position: bottom right;
    background-repeat: no-repeat;
    /* background-color: lightseagreen; */
}

.achievement-img-bg {
    width: 30%;
    height: 90%;
    background-image: url(/public/assets/img/progress/achievement-container.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.achievement-img {
    width: auto;
    height: 6vw;
    /* background-color: red; */
}

.achievement-description {
    width: 65%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    color: rgb(238, 225, 206);
    margin-top: 4%;
    /* background-color: blue; */
}

.goal-number {
    position: absolute;
    width: 2vw;
    height: 2vw;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 3px solid rgb(200, 200, 200);
    background-color: rgb(28, 1, 9);
    font-family: "Lato";
    font-size: 0.9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.achievement-name {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 4%;
    font-size: 1vw;
    font-family: "MedusaGothic";
    letter-spacing: 0.2vw;
}

.achievement-short-description {
    width: 100%;
    height: 20%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Lato";
    font-style: italic;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    /* border: 2px solid blue; */
}

.achievement-long-description {
    width: 100%;
    height: 70%;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Lato";
    letter-spacing: 0.05vw;
    /* border: 2px solid violet; */
}

.achievement-progress-badges-container {
    width: 47%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightpink; */
}

.progress-bar-container {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    /* border: 2px solid black; */
}

.achievement-img-container {
    display: none;
}

.badges-container {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blue; */

}

.badge-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: red; */
}

.badge-border {
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    width: auto;
    animation: rotateBackground 40s linear infinite;
        /* background-color: blue; */
}

.badge-img {
    width: auto;
    height: 55%;
    /* background-color: white; */
}

.badge-container span {
    z-index: 5;
}

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}