body {
  width: 100%;
  height: 100%;
}

.homePage {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/img/landing-page/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  /* background-color: green; */
  height: 32vh;
  width: 100vw;
  margin: 0;
  position: absolute;
  top: 10vw;
  display: flex;
  flex-direction: column;
}

.ticket-purchase-container {
  /* background-color: green; */
  position: absolute;
  width: 19vw;
  height: 10vw;
  right: 2%;
  bottom: 5%;
  transition: all 500ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ticket-purchase-container .ticket:hover {
  transform: scale(105%);
  cursor: pointer;
}

@keyframes rotation {
  0%   { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

@keyframes balanceo {
  0%   { transform: rotate(0deg); }
  10%  { transform: rotate(-3deg); }
  20%  { transform: rotate(3deg); }
  30%  { transform: rotate(-3deg); }
  40%  { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

.ticketImgContainer {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.ticket-wrapper {
  width: 100%;
  height: 100%;
  transition: all 500ms ease-in-out;
  background-color: transparent;
  /* background-color: blueviolet; */
}

.ticket-wrapper:hover {
  transform: scale(1.3);
}

.ticket {
  width: 40%;
  height: 80%;
  animation: balanceo 5s ease-in-out infinite;
  /* background-color: white; */
}

.ticketBackground {
  position: absolute;
  width: 10vw;
  height: 10vw;
  animation: rotation 20s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-purchase-container span {
  position: absolute;
  /* background-color: blue; */
  bottom: 0;
  right: 0;
  width: 50%;
  color: blanchedalmond;
  font-family: "Lato";
  font-size: 0.95vw;
  text-align: center;
  letter-spacing: 0.05vw;
  font-style: italic;
  line-height: 1.3vw;
}


/* Modal: overlay semitransparente */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dynardModalCloseBtn {
  position: absolute;
  width: 2vw;
  height: 2vw;
  z-index: 10;
  right: 34.3%;
  top: 17.3%;
  background-color: rgb(230, 224, 198);
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45);
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(50, 4, 4);
  font-family: 'Cinzel';
}

/* Modal: contenido centrado */

.modalContentGoldBg{
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45);
  width: 34vw;
  height: 70vh;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.homePage .modal-content {
  width: 98%;
  height: 98%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 15px;
  position: relative;
  background-color: rgb(65, 65, 40);
}

.modalLogoGiph {
  margin-top: 3%;
  width: 35%;
  /* background-color: red; */
}

.dynardOptionsWrapper {
  height: 29%;
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dynardQuestion{
  font-family: "MedusaGothic";
  width: 90%;
  height: 10%;
  font-size: 1.1vw;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.dynardQuestionOption {
  font-family: "Lato";
  cursor: pointer;
  width: 100%;
  height: 15%;
  font-size: 1.2vw;
  /* background-color: rgb(114, 45, 56); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.dynardQuestionText {
  font-family: 'Lato';
  font-size: 1vw;
  letter-spacing: 0.08vw;
  /* background-color: blue; */
  width: 85%;
  line-height: 1.3vw;
  display: block;
}

.dynardBtnBack {
  bottom: 5%;
  width: 15%;
  height: 6%;
  /* background-color: red; */
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(76, 7, 39);
  border: 3px double rgb(222, 220, 209);
  border-radius: 10px;
  font-family: 'MedusaGothic';
  font-size: 0.9vw;
  letter-spacing: 0.1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dynardContainer {
  position: absolute;
  left: 6vh;
  bottom: 5vh;
  z-index: 5;
}

.logo-container,
.logo,
.header-title {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: default;
}

.logo-container {
  width: 100%;
  height: 60%;
  background-size: 110% 90%;
  /* background-color: salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/img/alert/alertBorder.png);
  background-position: bottom;
}

.logo {
  margin-top: 0.5vw;
  width: 7vw;
  height: 8vw;
  background-image: url(/assets/giph/logo.gif);
  /* background-color: rebeccapurple; */
}

.text {
  font-family: "MedusaGothic";
  width: 100%;
  height: 40%;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header-title {
  height: 75%;
  width: 50%;
  /* background-color: aquamarine; */
  background-image: url(/assets/img/landing-page/title-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  letter-spacing: 0.5vw;
  color: beige;
}

.header-subtitle {
  height: 15%;
  width: 50%;
  /* background-color: red; */
  font-size: 0.8vw;
  letter-spacing: 0.3vw;
  color: rgb(171, 171, 160);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}


.gallery-name {
  width: 50%;
  height: 10%;
  font-family: "MedusaGothic";
  letter-spacing: 0.15vw;
  color: rgb(234, 235, 221);
  /* background-color: blue; */
  text-align: center;
  margin-top: 28%;
}

.map-btn {
  /* background-color: red; */
  width: 10vw;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
  position: absolute;
  left: 45%;
  bottom: 3vh;
}

.periods-container {
  padding-bottom: calc(90px + 8vh); /* Altura del banner (90px) + margen (4vh) * 2 */
}


