/*body {*/
/*  background-image: url(assets/Cards/BackgroundMemotest.jpg);*/
/*  background-size: cover;*/
/*  position: relative;*/
/*}*/

.memoDyn-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardcontainer {
  margin: 0 auto;
  max-width: 72vw;
  height: 23vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}

.card {
  width: 16vh;
  height: 22vh;
  background-image: url(assets/Cards/Front.png);
  background-size: cover;
  transition: transform 500ms ease-in-out;
}

.card:hover {
  transform: scale(1.1);
}

.card-front {
  background-image: url(assets/Cards/Front.png);
}

.card-0 {
  background-image: url(assets/Cards/Card01.png);
}

.card-1 {
  background-image: url(assets/Cards/Card02.png);
}

.card-2 {
  background-image: url(assets/Cards/Card03.png);
}

.card-3 {
  background-image: url(assets/Cards/Card04.png);
}

.card-4 {
  background-image: url(assets/Cards/Card05.png);
}

.card-5 {
  background-image: url(assets/Cards/Card06.png);
}

.card-6 {
  background-image: url(assets/Cards/Card07.png);
}

.card-7 {
  background-image: url(assets/Cards/Card08.png);
}
