.container-book {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
    perspective: 1000px; /* Add perspective for 3D effect */
}

.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.container-book:hover .flip-card {
    transform: rotateY(180deg);
}

.book-front, .book-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 8px;
}

.book-front {
    z-index: 1;
}

.book-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.book-back {
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.book-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.back-content {
    position: relative;
    z-index: 2;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.back-text {
    font-family: "Lato";
    font-size: 0.8vw;
    line-height: 1.5;
    letter-spacing: 0.05vw;
    text-align: center;
    color: white;
    width: 50%;
    margin: 0 auto;
    position: absolute;
    top: 17%;
    left: 19%;
    max-width: 58%;
    /* background-color: red; */
    border-bottom: 3px solid rgb(221, 207, 142);
    padding-bottom: 0.5vw;
}

.back-title {
    font-size: 1.2vw;
    margin-bottom: 15px;
    font-family: "MedusaGothic";
}

.title {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 9%;
    font-size: 0.95vw;
    font-family: "MedusaGothic";
    letter-spacing: 0.4vw;
    background-image: url(/public/assets/img/landing-page/title-bg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    color: wheat;
    font-weight: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.8vw;
}

.container-progress {
    height: 8%;
    width: 100%;
    /* background-color: aqua; */
}