.timer {
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  background-image: url(/assets/img/progress/progress-container.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.timer h2 {
  margin: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.timeDisplay {
  font-family: "Lato";
  font-size: 2rem;
  letter-spacing: 0.2vw;
  color: #ede3c9;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.timelineContainer {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  flex: 1;
}

.timelineProgress {
  height: 100%;
  background-color: #ff1744;
  transition: width 1s linear;
  border-radius: 3px;
  position: absolute;
  left: 0;
}

/* Animación de parpadeo cuando queda poco tiempo */
@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.warning {
  background-color: #ff4757;
  animation: pulse 1s infinite;
} 