.album-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.album {
  width: 95%;
  height: 95%;
  background-color: pink;
  position: relative;
}

.sticker-section-gold-container {
  position: absolute;
  bottom: 2%;
  left: 2%;
  height: 32%;
  width: 45%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45, #ECEAD2, #987B45, #ECEAD2, #987B45);
}

.sticker-section {
  width: 98%;
  height: 95%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.stickers-content {
  width: 95%;
  height: 92%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: pink; */
}

.stickers-title {
  color: rgb(225, 225, 196);
  font-family: 'MedusaGothic', serif;
  font-size: 2vh;
  width: 100%;
  height: 12%;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  letter-spacing: 0.2vw;
  /* background-color: red; */
}

.stickers-grid {
  width: 100%;
  height: 88%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 50%);
  align-items: center;
  /* background: orange; */
  gap: 5px;
}

.sticker-container {
  width: 85%;
  height: 85%;
    border: 4px ridge rgb(220, 195, 137);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticker {
  width: 85%;
  height: auto;
  cursor: grab;
  transition: transform 0.2s ease;

  border-radius: 10px;
}

.sticker:hover {
  transform: scale(1.1);
}

.album-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation button {
  padding: 0.5vh 1vh;
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45);
  border: none;
  border-radius: 0.3vh;
  cursor: pointer;
  font-family: 'MedusaGothic', serif;
  color: #2a0f0f;
  transition: all 0.3s ease;
  font-size: 1.5vh;
}

.navigation button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.navigation button:hover:not(:disabled) {
  transform: scale(1.05);
}

.navigation span {
  color: #FFD700;
  font-family: 'MedusaGothic', serif;
  font-size: 1.8vh;
}
