.subtitle {
    font-family: "MedusaGothic";
    margin-left: 4%;
    width: 47%;
    font-size: 0.9vw;
    letter-spacing: 0.2vw;
    margin-top: 4%;
    color: rgb(91, 88, 84);
    margin-bottom: 0.8vw;
    border-top: 3px solid rgb(133, 133, 107);
}

.text {
    font-family: "Lato";
    text-align: justify;
    line-height: 2.2vh;
    font-weight: light;
    letter-spacing: 0.07vw;
    font-size: 0.84vw;
    margin: 4%;
    text-indent: 1.5vw;
}

.text-upper {
    margin-top: 0%;
    width: 47%;
}

.text-lower {
    border-top: 5px double rgb(133, 133, 107);
    margin-top: -3%;
    width: 90%;
    padding-top: 2%;
}

.image-bottom-right {
    position: absolute;
    width: 40%;
    height: 72%;
    right: 2vw;
    top: 2vw;
}