/* TOP SECTION START */

.top-section {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 3;
    position: relative;
    /* background-color: violet; */
}

.individual-sticker-left-container {
    position: absolute;
    width: 10%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: 2%;
    left: 2%;
    background-color: blue;
}

.individual-sticker-left {
    width: 90%;
    height: auto;
}

.scene-1-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 140%;
    background-color: orange;
}

.scene-1 {
    width: 100%;
    height: 100%;
}

.info-and-shiny {
    width: 53%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: blueviolet;
}

.info-box {
    width: 50%;
    height: 100%;
    background-color: brown;
}

.shiny-sticker-container {
    width: 40%;
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: 2%;
    left: 2%;
}

.shiny-sticker {
    width: auto;
    height: 90%;
}

/* TOP SECTION START */

/* BOTTOM SECTION START */

.bottom-section {
    height: 60%;
    width: 60%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: lightblue;
}

.scene-2-container {
    height: 120%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: orange;
}

.scene-2 {
    width: 100%;
    height: 100%;
}

.individual-sticker-container {
    position: absolute;
    width: 25%;
    height: 60%;
    top: 0%;
    right: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background-color: blue;
}

.individual-sticker-title {
    height: 15%;
    margin: 0;
    background-color: pink;
}

.individual-sticker-right-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
}

.individual-sticker-right {
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: white;
}

/* BOTTOM SECTION END */