.gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    height: 100%;
    /* background-color: blue; */
  }
  
  .gameImgContainer {
    width: 80%;
    height: 83%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .gameImg {
    width: 100%;
    height: 70%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    transition: all 1s ease-out;
  }
  
  .gameImg:hover {
    transform: scale(110%);
  }
  
  .goldLine {
    width: 100%;
    height: 0.5%;
  }
  
  .gameNameContainer {
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: pink; */
    margin-top: 1%;
  }
  
  .gameName {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "MedusaGothic";
    font-size: 2vw;
    letter-spacing: 0.4vw;
    color: rgb(218, 211, 174);
    /* background-color: brown; */
    margin-right: 8%;
  }
  
  @keyframes rotation {
    0%   { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
  }
  
  .symbolContainer {
    width: 20%;
    height: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
  }
  
  .symbolBg {
    position: absolute;
    width: 15%;
    height: 125%;
    background-image: url(/public/assets/img/alert/alertBorder.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 20s linear infinite;
    /* background-color: green; */
  }
  
  .symbol {
    width: auto;
    /* background-color: red; */
  }