body {
  overflow: hidden;
}

.mapPage {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/assets/img/bg/rockBg.png);
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 75%;
  margin: 0 auto;
  margin-top: 5%;
  background-image: url(/public/assets/img/map/map.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
}

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}

.period-btn {
  width: 7%;
  height: 19%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MedusaGothic";
  letter-spacing: 0.15vw;
  font-size: 0.6vw;
  filter: brightness(50%);
  transition: transform 600ms ease-in-out, filter 300ms ease-in-out 300ms;
  cursor:pointer;
}

.period-btn a {
  z-index: 99;
  text-decoration: none;
  color: rgb(61, 61, 47);
}

.period-btn-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.period-btn:hover {
  transform: scale(180%);
  filter: brightness(100%);
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.raptorBites {
  width: 12%;
  height: 15%;
  position: absolute;
  /* background-color: red; */
  background-image: url(/assets/img/map/raptor-bites.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 26%;
  bottom: 8%;
  animation: float 3s ease-in-out infinite;
}

.restroom {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/public/assets/giph/silverTower.gif);
  width: 2%;
  height: 12%;
  filter: brightness(100%);
}

.main-entrance,
.entrance,
.library,
.store {
  filter: brightness(100%);
}

.main-entrance,
.entrance,
.library,
.store,
.kids-room,
.stage-1,
.stage-2,
.stage-3,
.stage-4,
.stage-5,
.stage-6,
.stage-7,
.stage-8,
.stage-9 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/public/assets/giph/silverTower.gif);
  width: 2.8%;
  height: 18%;
}

.main-entrance {
  left: 18%;
  bottom: 20%;
}

.entrance {
  right: 8%;
  bottom: 20%;
}

.library {
  left: 60%;
  bottom: 14%;
}

.store {
  left: 8%;
  bottom: 55%;
}

.kids-room {
  left: 50%;
  bottom: 59%;
  background-image: url(/public/assets/giph/pinkTower.gif);
}

.restroom-1 {
  left: 39%;
  bottom: 41%;
}

.restroom-2 {
  left: 57%;
  bottom: 67%;
}

.restroom-3 {
  right: 8%;
  bottom: 58%;
}

/* COMMON ROOMS */

.scaled {
  z-index: 1000;
}

.stage-1,
.stage-2,
.stage-3 {
  background-image: url(/public/assets/giph/greenTower.gif);
}

.stage-1 {
  left: 22%;
  bottom: 40%;
}

.stage-2 {
  left: 32%;
  bottom: 50%;
}

.stage-3 {
  left: 39%;
  bottom: 65%;
}

.stage-4,
.stage-5,
.stage-6 {
  background-image: url(/public/assets/giph/blueTower.gif);
}

.stage-4 {
  left: 48%;
  bottom: 29%;
}

.stage-5 {
  left: 61%;
  bottom: 40%;
}

.stage-6 {
  right: 30%;
  bottom: 60%;
}

.stage-7,
.stage-8,
.stage-9 {
  background-image: url(/public/assets/giph/violetTower.gif);
}

.stage-7 {
  right: 21%;
  bottom: 25%;
}

.stage-8 {
  right: 12%;
  bottom: 38%;
}

.stage-9 {
  right: 18%;
  bottom: 50%;
}

/* PERIOD FRAMES START */

.periodTitleGoldBg {
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45);
  border-radius: 15px;
  width: 13%;
  height: 10%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.periodTitleFrame {
  border-radius: 15px;
  width: 98%;
  height: 93%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MedusaGothic";
  text-align: center;
  letter-spacing: 0.2vw;
  font-size: 0.8vw;
  color: rgb(237, 234, 207);
  cursor: default;
}

.period1Container img,
.period3Container img {
  width: 40%;
  height: 30%;
  top: -15%;
  position: absolute;
}

.period2Container img {
  width: 40%;
  height: 30%;
  bottom: -15%;
  position: absolute;
}

.period1Container {
  top: 29%;
  left: 15%;
}

.period2Container {
  bottom: 16%;
  left: 40%;
}

.period3Container {
  top: 18%;
  left: 75%;
}

.periodTitleFrame1 {
  background-color: rgb(44, 43, 26);
}

.periodTitleFrame2 {
  background-color: rgb(26, 31, 44);
}

.periodTitleFrame3 {
  background-color: rgb(51, 40, 63);
}

/* PERIOD FRAMES END */

.info-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  color: white;
  width: 20vh;
  height: 30vh;
  top: 8vh;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  /* background-color: #987B45; */
}

.info-container.right {
  left: 4vw;
}

.info-container.left {
  right: 6vw;
}

.info-frame {
  margin-top: 10%;
  width: 60%;
  height: 67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9 !important;
  position: relative;
  transform: translateZ(0);
  /* background-color: #987B45; */
}

.main-entrance .info-container {
  background-image: url(/public/assets/img/building-descriptions/main-entrance.png);
}

.library .info-container {
  background-image: url(/public/assets/img/building-descriptions/library.png);
  top: 2vw;
}

.kids-room .info-container {
  background-image: url(/public/assets/img/building-descriptions/kidsLockedAccess.png);
}

.store .info-container {
  background-image: url(/public/assets/img/building-descriptions/store.png);
}

.entrance .info-container {
  background-image: url(/public/assets/img/building-descriptions/entrance.png);
}

.restroom .info-container {
  background-color: rgb(24, 3, 3);
  width: 6vw;
  height: 1.5vw;
  left: -2vw;
  top: 7.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-top: 5%;
  border: 2px solid rgb(206, 206, 206);
}

.stage-1 .info-container {
  background-image: url(/public/assets/img/building-descriptions/tri-1.png);
}

.stage-2 .info-container {
  background-image: url(/public/assets/img/building-descriptions/tri-2.png);
}

.stage-3 .info-container {
  background-image: url(/public/assets/img/building-descriptions/tri-3.png);
  top: 6vw;
}

.stage-3 .paperContainer {
  margin-top: 2vw;
}

.stage-4 .info-container {
  background-image: url(/public/assets/img/building-descriptions/jur-1.png);
}

.stage-5 .info-container {
  background-image: url(/public/assets/img/building-descriptions/jur-2.png);
}

.stage-6 .info-container {
  background-image: url(/public/assets/img/building-descriptions/jur-3.png);
}

.stage-7 .info-container {
  background-image: url(/public/assets/img/building-descriptions/cre-1.png);
}

.stage-8 .info-container {
  background-image: url(/public/assets/img/building-descriptions/cre-2.png);
}

.stage-9 .info-container {
  background-image: url(/public/assets/img/building-descriptions/cre-3.png);
}

.site-description {
  height: 14%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(118, 159, 158); */
}

.site-description span {
  font-size: 0.5vw;
  letter-spacing: 0.15vw;
  line-height: 0.7vw;
  text-align: center;
  color: rgb(224, 218, 193);
}

.site-description p {
  font-size: 0.3vw;
  letter-spacing: 0.1vw;
  text-align: center;
  color: black;
}

.visitBtn {
  position: absolute;
  width: 60%;
  height: 15%;
  bottom: 1vw;
  border-radius: 6px;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 1, 1);
  
  border: 5px double rgb(125, 118, 79);
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
  
  font-family: "MedusaGothic";
  letter-spacing: 0.15vw;
  font-size: 0.5vw;

  filter: brightness(50%);
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.linkVisitBtn {
  color: #eae4c0 !important;
}

.visitBtn:hover {
  filter: brightness(100%);
  transform: scale(103%);
}

.paperContainer {
  border-radius: 6px;
  width: 15vw;

  transform: scaleX(0);
  /* transform-origin: left; */
  transition: transform 2s ease-in-out;

  height: 10vw;
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45);
}

.paperContainer.right {
  top: 0;
  left: 0vw;
}

.paperContainer.left {
  top: 0;
  right: 10vw;
}

.hidden {
  display: none;
}

.paper {
  height: 95%;
  width: 96%;
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: black;
}

/* BUILDING DINOSAURS */

.dinosaurInfo {
  width: 85%;
  height: 90%;
  /* margin-right: 3%; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: white; */
}

.right .dinosaurInfo {
  margin-right: 3%;
}

.left .dinosaurInfo {
  margin-right: 25%;
}

.dinosaurNames,
.dinosaurImg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.dinosaurName {
  font-family: "MedusaGothic";
  font-size: 0.42vw;
  letter-spacing: 0.08vw;
  color: #efebd5;
}

.dinosaurNames {
  width: 60%;
  height: 80%;
  /* background-color: red; */
}

.dinosaurImg {
  width: 30%;
  height: 100%;
  /* background-color: red; */
}

.dinosaur-silhouette {
  filter: brightness(70) opacity(90%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center bottom;
  /* border: 1px solid black; */
}

/* DINOSAUR SILHOUETTES */

.small-dino {
  animation: breathe 2s infinite ease-in-out;
}

.medium-dino {
  animation: breathe 3s infinite ease-in-out;
}

.big-dino {
  animation: breathe 4s infinite ease-in-out;
}

.info-triassic-1-dino-1,
.info-triassic-1-dino-2,
.info-triassic-1-dino-3,
.info-triassic-2-dino-1,
.info-triassic-2-dino-2,
.info-triassic-2-dino-3,
.info-triassic-3-dino-1,
.info-triassic-3-dino-2,
.info-triassic-3-dino-3,
.info-jurassic-1-dino-1,
.info-jurassic-1-dino-2,
.info-jurassic-1-dino-3,
.info-jurassic-2-dino-1,
.info-jurassic-2-dino-2,
.info-jurassic-2-dino-3,
.info-jurassic-3-dino-1,
.info-jurassic-3-dino-2,
.info-jurassic-3-dino-3,
.info-cretaceous-1-dino-1,
.info-cretaceous-1-dino-2,
.info-cretaceous-1-dino-3,
.info-cretaceous-2-dino-1,
.info-cretaceous-2-dino-2,
.info-cretaceous-2-dino-3,
.info-cretaceous-3-dino-1,
.info-cretaceous-3-dino-2,
.info-cretaceous-3-dino-3 {
  width: 100%;
  height: 30%;
}


.info-triassic-1-dino-1 {
  background-image: url(/assets/img/dinosaurs/tr-1-Eoraptor.png);
}

.info-triassic-1-dino-2 {
  background-image: url(/assets/img/dinosaurs/tr-1-Herrerasaurus.png);
}

.info-triassic-1-dino-3 {
  background-image: url(/assets/img/dinosaurs/tr-1-Postosuchus.png);
}

.info-triassic-2-dino-1 {
  background-image: url(/assets/img/dinosaurs/tr-2-Chindesaurus.png);
}

.info-triassic-2-dino-2 {
  background-image: url(/assets/img/dinosaurs/tr-2-Fukuiraptor.png);
}

.info-triassic-2-dino-3 {
  background-image: url(/assets/img/dinosaurs/tr-2-Shuvosaurus.png);
}

.info-triassic-3-dino-1 {
  background-image: url(/assets/img/dinosaurs/tr-3-Coelophysis.png);
}

.info-triassic-3-dino-2 {
  background-image: url(/assets/img/dinosaurs/tr-3-Plateosaurus.png);
}

.info-triassic-3-dino-3 {
  background-image: url(/assets/img/dinosaurs/tr-3-Rauisuchus.png);
}

.info-jurassic-1-dino-1 {
  background-image: url(/assets/img/dinosaurs/ju-1-Compsognathus.png);
}

.info-jurassic-1-dino-2 {
  background-image: url(/assets/img/dinosaurs/ju-1-Cryolophosaurus.png);
}

.info-jurassic-1-dino-3 {
  background-image: url(/assets/img/dinosaurs/ju-1-Dilophosaurus.png);
}

.info-jurassic-2-dino-1 {
  background-image: url(/assets/img/dinosaurs/ju-2-Allosaurus.png);
}

.info-jurassic-2-dino-2 {
  background-image: url(/assets/img/dinosaurs/ju-2-Apatosaurus.png);
}

.info-jurassic-2-dino-3 {
  background-image: url(/assets/img/dinosaurs/ju-2-Camarasaurus.png);
}

.info-jurassic-3-dino-1 {
  background-image: url(/assets/img/dinosaurs/ju-3-Brachiosaurus.png);
}

.info-jurassic-3-dino-2 {
  background-image: url(/assets/img/dinosaurs/ju-3-Diplodocus.png);
}

.info-jurassic-3-dino-3 {
  background-image: url(/assets/img/dinosaurs/ju-3-Stegosaurus.png);
}

.info-cretaceous-1-dino-1 {
  background-image: url(/assets/img/dinosaurs/cr-1-Gallimimus.png);
}

.info-cretaceous-1-dino-2 {
  background-image: url(/assets/img/dinosaurs/cr-1-Microceratus.png);
}

.info-cretaceous-1-dino-3 {
  background-image: url(/assets/img/dinosaurs/cr-1-Pachycephalosaurus.png);
}

.info-cretaceous-2-dino-1 {
  background-image: url(/assets/img/dinosaurs/cr-2-Baryonyx.png);
}

.info-cretaceous-2-dino-2 {
  background-image: url(/assets/img/dinosaurs/cr-2-Irritator.png);
}

.info-cretaceous-2-dino-3 {
  background-image: url(/assets/img/dinosaurs/cr-2-Spinosaurus.png);
}

.info-cretaceous-3-dino-1 {
  background-image: url(/assets/img/dinosaurs/cr-3-Ankylosaurus.png);
}

.info-cretaceous-3-dino-2 {
  background-image: url(/assets/img/dinosaurs/cr-3-Triceratops.png);
}

.info-cretaceous-3-dino-3 {
  background-image: url(/assets/img/dinosaurs/cr-3-Tyrannosaurus.png);
}

/* END */

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1.02);
  }
  50% {
    transform: scaleY(0.98);
  }
}

.fade-in {
  opacity: 1;
}

@keyframes movePaperRight {
  0% {
    transform: scaleX(0%);
    left: 5vw;
  }
  100% {
    transform: scaleX(100%);
    left: 11vw;
  }
}

@keyframes movePaperLeft {
  0% {
    transform: scaleX(0%);
    right: 5vw;
  }
  100% {
    transform: scaleX(100%);
    right: 11vw;
  }
}

.scaled .paperContainer.right {
  transform-origin: left;
  animation: movePaperRight 1.2s ease-in-out 0.6s forwards;
}

.scaled .paperContainer.left {
  transform-origin: right;
  animation: movePaperLeft 1.2s ease-in-out 0.6s forwards;
}