body {
  overflow: hidden;
}

.mapPage {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/assets/img/bg/rockBg.png);
  background-position: bottom;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map {
  width: 90%;
  height: 75%;
  margin: 0 auto;
  margin-top: 5%;
  background-image: url(/public/assets/img/map/map.png);
  background-position: top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-color: red; */
}

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}

.period-btn {
  width: 7%;
  height: 19%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MedusaGothicD";
  letter-spacing: 0.15vw;
  font-size: 0.6vw;
  filter: brightness(50%);
  transition: transform 600ms ease-in-out, filter 300ms ease-in-out 300ms;
  cursor:pointer;
}

.period-btn a {
  z-index: 99;
  text-decoration: none;
  color: rgb(61, 61, 47);
}

.period-btn-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.period-btn:hover {
  transform: scale(180%);
  filter: brightness(100%);
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.raptor-bites {
  width: 15%;
  height: 23%;
  position: absolute;
  /* background-color: red; */
  background-image: url(/assets/img/map/raptor-bites.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 25%;
  bottom: 11%;
  animation: float 3s ease-in-out infinite;
}


.main-entrance,
.entrance,
.library,
.store,
.kids-room,
.restroom,
.stage-1,
.stage-2,
.stage-3,
.stage-4,
.stage-5,
.stage-6,
.stage-7,
.stage-8,
.stage-9 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.main-entrance {
  width: 10%;
  height: 22%;
  left: 14%;
  bottom: 20%;
  background-image: url(/assets/img/buildings/bu-main-entrance.png);
}

.entrance {
  width: 7%;
  height: 19%;
  right: 4%;
  bottom: 12%;
  background-image: url(/assets/img/buildings/bu-entrance.png);
}

.library {
  width: 5%;
  height: 15%;
  left: 59%;
  bottom: 12%;
  background-image: url(/assets/img/buildings/bu-library.png);
}

.store {
  left: 6%;
  bottom: 55%;
  background-image: url(/assets/img/buildings/bu-store.png);
  background-color: red;
}

.kids-room {
  width: 16%;
  height: 30%;
  left: 43%;
  bottom: 57%;
  background-image: url(/assets/img/buildings/bu-kids.png);
}

.restroom {
  width: 5%;
  height: 9%;
  background-image: url(/assets/img/buildings/bu-restroom.png);
}

.restroom-1 {
  left: 39%;
  bottom: 43%;
}

.restroom-2 {
  left: 57%;
  bottom: 80%;
}

.restroom-3 {
  right: 7%;
  bottom: 65%;
  transform: scaleX(-1);
}

/* COMMON ROOMS */

.scaled {
  z-index: 1000;
}

.stage-1 {
  left: 18%;
  bottom: 47%;
  background-image: url(/assets/img/buildings/bu-tri-1.png);
}

.stage-2 {
  left: 28%;
  bottom: 51%;
  background-image: url(/assets/img/buildings/bu-tri-2.png);
}

.stage-3 {
  left: 35%;
  bottom: 69%;
  background-image: url(/assets/img/buildings/bu-tri-3.png);
}

.stage-4 {
  left: 48%;
  bottom: 31%;
  background-image: url(/assets/img/buildings/bu-jur-1.png);
}

.stage-5 {
  left: 59%;
  bottom: 37%;
  background-image: url(/assets/img/buildings/bu-jur-2.png);
}

.stage-6 {
  right: 29%;
  bottom: 60%;
  background-image: url(/assets/img/buildings/bu-jur-3.png);
}

.stage-7 {
  right: 22%;
  bottom: 32%;
  background-image: url(/assets/img/buildings/bu-cre-1.png);
}

.stage-8 {
  right: 9%;
  bottom: 36%;
  background-image: url(/assets/img/buildings/bu-cre-2.png);
}

.stage-9 {
  right: 17%;
  bottom: 56%;
  background-image: url(/assets/img/buildings/bu-cre-3.png);
}

/* PERIOD FRAMES START */

.period-title-frame {
  background-image: url(/assets/img/frames/period-title.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 17%;
  height: 13%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MedusaGothicD";
  text-align: center;
  letter-spacing: 0.2vw;
  font-size: 0.8vw;
  color: rgb(70, 68, 54);
}

.period-1 {
  top: 15%;
  left: 15%;
}

.period-2 {
  bottom: 16%;
  left: 40%;
}

.period-3 {
  top: 8%;
  left: 75%;
}


/* PERIOD FRAMES END */

.info-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  color: white;
  width: 20vh;
  height: 30vh;
  top: 25%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.info-container.right {
  left: calc(80%);
}

.info-container.left {
  right: calc(80%);
}

.info-frame {
  margin-top: 10%;
  width: 60%;
  height: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 9 !important;
  position: relative;
  transform: translateZ(0);
}

.stage-1 .info-container {
  background-image: url(/assets/img/building-descriptions/card-tri-1.png);
}

.stage-2 .info-container {
  background-image: url(/assets/img/building-descriptions/card-tri-2.png);
}

.stage-3 .info-container {
  background-image: url(/assets/img/building-descriptions/card-tri-3.png);
}

.stage-4 .info-container {
  background-image: url(/assets/img/building-descriptions/card-jur-1.png);
}

.stage-5 .info-container {
  background-image: url(/assets/img/building-descriptions/card-jur-2.png);
}

.stage-6 .info-container {
  background-image: url(/assets/img/building-descriptions/card-jur-3.png);
}

.stage-7 .info-container {
  background-image: url(/assets/img/building-descriptions/card-cre-1.png);
}

.stage-8 .info-container {
  background-image: url(/assets/img/building-descriptions/card-cre-2.png);
}

.stage-9 .info-container {
  background-image: url(/assets/img/building-descriptions/card-cre-3.png);
}

.site-description {
  height: 20%;
  width: 100%;
  /* background-color: rgb(118, 159, 158); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.site-description span {
  font-size: 0.6vw;
  letter-spacing: 0.2vw;
  line-height: 1vw;
  text-align: center;
  color: rgb(90, 84, 60);
}

.site-description p {
  font-size: 0.3vw;
  letter-spacing: 0.1vw;
  text-align: center;
  color: black;
}

.info-triassic-dinos-container {
  height: 90%;
  width: 60%;
  /* background-color: rgb(118, 159, 158); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.info-frame button {
  filter: brightness(50%);
  position: absolute;
  bottom: 1vw;
  color: rgb(234, 235, 221);
  background-color: rgba(360, 360, 360, 0.8);
  font-family: "MedusaGothicD";
  letter-spacing: 0.15vw;
  font-size: 0.5vw;
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.info-frame button:hover {
  filter: brightness(100%);
  transform: scale(103%);
}

.paper {
  background-image: url(/assets/img/paper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85% 100%;
  width: 9vw;
  height: 10vw;
  position: absolute;
  transform: translateY(-16%);
  display: flex;
  align-items: center;
  z-index: 0;
}

.paper.right {
  left: calc(90%);
  justify-content: flex-end;
}

.paper.left {
  right: calc(90%);
  justify-content: flex-start;
}

/* BUILDING DINOSAURS */

.dinosaur-silhouette {
  filter: brightness(0) opacity(70%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: center bottom;
  /* border: 1px solid black; */
}

/* DINOSAUR SILHOUETTES */

.small-dino {
  animation: breathe 2s infinite ease-in-out;
}

.medium-dino {
  animation: breathe 3s infinite ease-in-out;
}

.big-dino {
  animation: breathe 4s infinite ease-in-out;
}

.info-triassic-1-dino-1 {
  background-image: url(/assets/img/dinosaurs/tr-1-Eoraptor.png);
  width: 28%;
  height: 15%;
}

.info-triassic-1-dino-2 {
  background-image: url(/assets/img/dinosaurs/tr-1-Herrerasaurus.png);
  width: 35%;
  height: 24%;
}

.info-triassic-1-dino-3 {
  background-image: url(/assets/img/dinosaurs/tr-1-Postosuchus.png);
  width: 40%;
  height: 25%;
}

.info-triassic-2-dino-1 {
  background-image: url(/assets/img/dinosaurs/tr-2-Chindesaurus.png);
  width: 30%;
  height: 15%;
}

.info-triassic-2-dino-2 {
  background-image: url(/assets/img/dinosaurs/tr-2-Fukuiraptor.png);
  width: 45%;
  height: 20%;
}

.info-triassic-2-dino-3 {
  background-image: url(/assets/img/dinosaurs/tr-2-Shuvosaurus.png);
  width: 50%;
  height: 15%;
}

.info-triassic-3-dino-1 {
  background-image: url(/assets/img/dinosaurs/tr-3-Coelophysis.png);
  width: 25%;
  height: 20%;
}

.info-triassic-3-dino-2 {
  background-image: url(/assets/img/dinosaurs/tr-3-Plateosaurus.png);
  width: 50%;
  height: 28%;
}

.info-triassic-3-dino-3 {
  background-image: url(/assets/img/dinosaurs/tr-3-Rauisuchus.png);
  width: 45%;
  height: 15%;
}

.info-jurassic-1-dino-1 {
  background-image: url(/assets/img/dinosaurs/ju-1-Compsognathus.png);
  width: 30%;
  height: 20%;
}

.info-jurassic-1-dino-2 {
  background-image: url(/assets/img/dinosaurs/ju-1-Cryolophosaurus.png);
  width: 50%;
  height: 24%;
}

.info-jurassic-1-dino-3 {
  background-image: url(/assets/img/dinosaurs/ju-1-Dilophosaurus.png);
  width: 40%;
  height: 20%;
}

.info-jurassic-2-dino-1 {
  background-image: url(/assets/img/dinosaurs/ju-2-Allosaurus.png);
  width: 40%;
  height: 30%;
}

.info-jurassic-2-dino-2 {
  background-image: url(/assets/img/dinosaurs/ju-2-Apatosaurus.png);
  width: 60%;
  height: 45%;
}

.info-jurassic-2-dino-3 {
  background-image: url(/assets/img/dinosaurs/ju-2-Camarasaurus.png);
  width: 55%;
  height: 35%;
}

.info-jurassic-3-dino-1 {
  background-image: url(/assets/img/dinosaurs/ju-3-Brachiosaurus.png);
  width: 60%;
  height: 30%;
}

.info-jurassic-3-dino-2 {
  background-image: url(/assets/img/dinosaurs/ju-3-Diplodocus.png);
  width: 65%;
  height: 28%;
}

.info-jurassic-3-dino-3 {
  background-image: url(/assets/img/dinosaurs/ju-3-Stegosaurus.png);
  width: 35%;
  height: 20%;
}

.info-cretaceous-1-dino-1 {
  background-image: url(/assets/img/dinosaurs/cr-1-Gallimimus.png);
  width: 60%;
  height: 25%;
}

.info-cretaceous-1-dino-2 {
  background-image: url(/assets/img/dinosaurs/cr-1-Microceratus.png);
  width: 20%;
  height: 10%;
}

.info-cretaceous-1-dino-3 {
  background-image: url(/assets/img/dinosaurs/cr-1-Pachycephalosaurus.png);
  width: 28%;
  height: 20%;
}

.info-cretaceous-2-dino-1 {
  background-image: url(/assets/img/dinosaurs/cr-2-Baryonyx.png);
  width: 35%;
  height: 30%;
}

.info-cretaceous-2-dino-2 {
  background-image: url(/assets/img/dinosaurs/cr-2-Irritator.png);
  width: 50%;
  height: 12%;
}

.info-cretaceous-2-dino-3 {
  background-image: url(/assets/img/dinosaurs/cr-2-Spinosaurus.png);
  width: 50%;
  height: 12%;
}

.info-cretaceous-3-dino-1 {
  background-image: url(/assets/img/dinosaurs/cr-3-Ankylosaurus.png);
  width: 40%;
  height: 20%;
}

.info-cretaceous-3-dino-2 {
  background-image: url(/assets/img/dinosaurs/cr-3-Triceratops.png);
  width: 32%;
  height: 12%;
}

.info-cretaceous-3-dino-3 {
  background-image: url(/assets/img/dinosaurs/cr-3-Tyrannosaurus\ Rex.png);
  width: 55%;
  height: 27%;
}

/* END */

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1.02);
  }
  50% {
    transform: scaleY(0.98);
  }
}

.fade-in {
  opacity: 1;
}

@keyframes movePaperRight {
  0% {
    left: calc(80%);
  }
  100% {
    left: calc(170%);
  }
}

@keyframes movePaperLeft {
  0% {
    right: calc(80%);
  }
  100% {
    right: calc(170%);
  }
}

.scaled .paper.right {
  animation: movePaperRight 0.8s ease-in-out 0.6s forwards;
}

.scaled .paper.left {
  animation: movePaperLeft 0.8s ease-in-out 0.6s forwards;
}