body {
  overflow: hidden;
}

.era-map {
  width: 90vw;
  height: 75vh;
  margin: 0 auto;
  margin-top: 5vh;
  background-image: url(/public/assets/img/map/map.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.user-character {
  background-color: blue;
  width: 12%;
  height: 25%;
  position: absolute;
  bottom: -5%;
  left: -2%;
  transition: all 300ms ease-in-out;
}

.user-character:hover {
  transform: scale(103%);
}

.period-btn {
  width: 10%;
  height: 24%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MedusaGothicD";
  letter-spacing: 0.15vw;
  font-size: 0.6vw;
  filter: brightness(50%);
  transition: transform 300ms ease-in-out, filter 300ms ease-in-out 300ms;
  cursor:pointer;
}

.period-btn a {
  z-index: 999;
  text-decoration: none;
  color: rgb(61, 61, 47);
}

.period-btn-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.period-btn:hover {
  transform: scale(200%);
  filter: brightness(100%);
}

.stage-1-bg {
  background-image: url(/public/assets/img/frames/title-era-1.png);
}

.stage-2-bg {
  background-image: url(/public/assets/img/frames/title-era-2.png);
}

.stage-3-bg {
  background-image: url(/public/assets/img/frames/title-era-3.png);
}

.stage-1 {
  left: 20%;
  bottom: 17%;
}

.stage-2 {
  left: 10%;
  bottom: 43%;
}

.stage-3 {
  left: 25%;
  bottom: 58%;
}

.stage-4 {
  left: 40%;
  bottom: 40%;
}

.stage-5 {
  left: 53%;
  bottom: 37%;
}

.stage-6 {
  right: 30%;
  bottom: 65%;
}


.stage-7 {
  right: 12%;
  bottom: 38%;
}

.stage-8 {
  right: 11%;
  bottom: 6%;
}

/* PERIOD FRAMES START */

.period-title-frame {
  background-image: url(/public/assets/img/frames/period-title.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 22%;
  height: 18%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "MedusaGothicD";
  text-align: center;
  letter-spacing: 0.2vw;
  font-size: 1vw;
  color: rgb(70, 68, 54);
}

.period-1 {
  top: 5%;
  left: 3%;
}

.period-2 {
  top: 68%;
  left: 37%;
}

.period-3 {
  top: 10%;
  left: 75%;
}


/* PERIOD FRAMES END */

.info-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  color: white;
  padding: 10px;
  border-radius: 5px;
  width: 20vh;
  height: 25vh;
  top: 50%;
  left: calc(100%);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/public/assets/img/era-bg/bg-cret-1.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.info-frame {
  width: 100%;
  height: 100%;
  background-image: url(/public/assets/img/frames/dinosaur-frame.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.fade-in {
  opacity: 1;
}


