.puzzleMenu {
  background: beige;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.puzzleMenu h1 {
  margin-bottom: 2rem;
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  background-image: url(/public/assets/img/landing-page/title-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-size: "MedusaGothic";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .puzzlesGrid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    padding: 0.5rem;
  }

  .puzzleMenu h1 {
    font-size: 2rem;
  }
} 