.puzzleMenu {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-top: 0;
  position: relative;
}

.puzzlesGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 1.2rem;
  width: 100%;
  max-width: 1000px;
  padding: 1rem;
  place-items: center;
  margin: 0 auto;
}

.puzzleMenu h1 {
  margin-bottom: 3rem;
  color: white;
  font-size: 2.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  background-image: url(/public/assets/img/landing-page/title-bg.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "MedusaGothic";
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Tablets */
@media (max-width: 1024px) {
  .puzzlesGrid {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: 1.2rem;
    max-width: 800px;
  }
  
  .puzzleMenu {
    width: 80%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .puzzlesGrid {
    grid-template-columns: minmax(160px, 1fr);
    gap: 1rem;
    padding: 0.5rem;
    max-width: 400px;
  }

  .puzzleMenu {
    width: 90%;
  }

  .puzzleMenu h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
} 