.alertPage {
    width: 100vw;
    height: 88vh;
    background-image: url(/assets/img/alert/raysBg.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 16;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alertContainer {
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.puzzleImgContainer {
    margin-top: 2%;
    height: 18vw;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.puzzleBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/img/alert/alertBorder.png');
    background-size: contain;
    animation: rotateBackground 40s linear infinite;
    z-index: 1;
    /* background-color: blue; */
}

.puzzleImg {
    height: 70%;
    width: auto;
    max-width: 80%;
    z-index: 2;
    /* background-color: white; */
}

.closeBtn {
    width: 15%;
    height: 8%;
    color: white;
    background-color: rgb(76, 7, 17);
    border: 3px double rgb(222, 220, 209);
    border-radius: 10px;
    font-family: 'MedusaGothic';
    font-size: 0.8vw;
    letter-spacing: 0.1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* TEXT START */

.alertContainer p {
    color: white;
    font-family: "MedusaGothic";
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
    /* background-color: red; */
    margin-top: -2%;
}

.alertContainer span {
    color: white;
    font-family: "Lato";
    font-size: 0.9vw;
    letter-spacing: 0.1vw;
    font-style: italic;
    margin-top: -6%;
    /* background-color: rebeccapurple; */
}

/* TEXT END */

@keyframes rotateBackground {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
