header {
  width: 50%;
  height: 10vh;
  background-color: orange;
  margin: 0;
  margin-left: 43vw;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.periods-container {
  width: 87vw;
  height: 65vh;
  background-color: rgb(128, 128, 128);
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
}

.period {
  width: 31%;
  height: 100%;
  background-color: blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.title {
  width: 80%;
  height: 15%;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5vw;
}

.description {
  height: 70%;
  width: 90%;
  background-color: lightsalmon;
  font-size: 1vw;
  padding: 0.5vw;
}

.map-btn {
  margin: 0 auto;
  background-color: red;
  width: 10vw;
  height: 8vh;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}
