.cretaceous-superior-container {
  width: 100vw;
  height: 100vh;
}

.cretaceous-superior-bg {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/gallery-bg/gallery-bg-cretaceous.png);
  background-size: 100% 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;

}

.courtains-1,
.courtains-2,
.courtains-3 {
  position: absolute;
  /* background-color: rebeccapurple; */
  width: 23%;
  height: 47%;
  z-index: 1;
  top: 33%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: all;
}

.courtains-1 {
  left: 10%;
}

.courtains-2 {
  left: 39%;
}

.courtains-3 {
  right: 10%;
}

.curtain-hover {
  z-index: -1;
}

.left-curtain-hover {
  transform: scaleX(0);
}

.right-curtain-hover {
  transform: scaleX(0);
}

.left-curtain,
.right-curtain {
  width: 50%;
  height: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.left-curtain {
  background-image: url(/assets/img/gallery-bg/courtains/left-courtain-cretaceous.png);
  transform-origin: left;
  transition: transform 1s ease-in-out;
}

.right-curtain {
  background-image: url(/assets/img/gallery-bg/courtains/right-courtain-cretaceous.png);
  transform-origin: right;
  transition: transform 1s ease-in-out;
}

/* dinosaur Backgrounds */
.dinosaur-bg-1,
.dinosaur-bg-2,
.dinosaur-bg-3 {
  width: 5vw;
  height: 5vw;
  position: absolute;
  filter: brightness(50%);
  transition: all 300ms ease-in-out;
  background-size: 100% 100%;
}

.dinosaur-bg-1:hover,
.dinosaur-bg-2:hover,
.dinosaur-bg-3:hover {
  transform: scale(103%);
  filter: brightness(100%);
}

.dinosaur-bg-1 {
  width: 19%;
  height: 30%;
  left: 12%;
  bottom: 24%;
  background-size: 100% 100%;
}

.dinosaur-bg-2 {
  width: 16%;
  height: 25%;
  left: 42%;
  bottom: 23%;
  /* background-color: blue; */
}

.dinosaur-bg-3 {
  width: 12%;
  height: 23%;
  right: 16%;
  bottom: 23%;
  /* background-color: red; */
}

/* Breathe Animation */
@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}

/* Dinosaur Styles */
.dinosaur-1,
.dinosaur-2,
.dinosaur-3 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: bottom;
  position: relative;
  margin: 0;
}

.dinosaur-1 {
  background-image: url(/assets/img/dinosaurs/cr-3-Triceratops.png);
  animation: breathe 2s infinite ease-in-out;
  background-size: 100% 100%;
}

.dinosaur-2 {
  background-image: url(/assets/img/dinosaurs/cr-3-Ankylosaurus.png);
  animation: breathe 4s infinite ease-in-out;
}

.dinosaur-3 {
  background-image: url(/assets/img/dinosaurs/cr-3-Tyrannosaurus.png);
  background-position-y: 100%;
  animation: breathe 3s infinite ease-in-out;
}

/* Definimos las variables en el contenedor principal */
.cretaceous-superior-bg {
  --cursor-x: 50%;
  --cursor-y: 50%;
}

/* Dinosaur Styles */
.dinosaur {
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: bottom;
  position: relative;
}

.dinosaur-1-bone {
  background-image: url(/assets/img/dinosaurs/skeleton/skeleton-cr-3-Triceratops.png);
}

.dinosaur-2-bone {
  background-image: url(/assets/img/dinosaurs/skeleton/skeleton-cr-3-Ankylosaurus.png);
}

.dinosaur-3-bone {
  background-image: url(/assets/img/dinosaurs/skeleton/skeleton-cr-3-Tyrannosaurus.png);
}

/* X-Ray Effect */
.dinosaur-1-bone,
.dinosaur-2-bone,
.dinosaur-3-bone {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  visibility: hidden;
  mask-image: radial-gradient(circle 5vw at var(--cursor-x) var(--cursor-y), rgba(0, 0, 0, 1) 30%, rgba(255, 255, 255, 0) 70%);
  -webkit-mask-image: radial-gradient(circle 5vw at var(--cursor-x) var(--cursor-y), rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 70%);
  clip-path: circle(5vw at var(--cursor-x) var(--cursor-y));
  will-change: clip-path, mask-image;
  background-color: rgb(161, 161, 161);
  transform-origin: bottom;
  cursor: none;
}

.active-bone {
  visibility: visible;
}

/* Modal: overlay semitransparente */
.modal-overlay {
  position: fixed;
  bottom: 0%;
  left: 0;
  width: 100vw;
  height: 88vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
}

/* Botón de cerrar modal */
.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #444;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.modal-content button:hover {
  background-color: #666;
}

/* Modal: contenido centrado */
.modal-content {
  width: 98.8%;
  height: 97.80%;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
}

.dinosaur-container h2 {
  background-color: rebeccapurple;
  width: 50%;
}

/* XRAY DINOSAUR BG */
.modal-content .scannerCursorBg {
  width: 100%;
  height: 88%;
  position: unset;
  /* background-color: red; */
}

