.periods-container {
	width: 90vw;
	height: 65vh;
	margin: 0 auto;
	margin-top: 26vh;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	/* background-color: blue; */
  }
  
  .period {
	display: flex;
	justify-content: center;
	/* background-color: lightcoral; */
  }
  
  .triassic-1,
  .jurassic-1,
  .cretaceous-1,
  .triassic-2,
  .jurassic-2,
  .cretaceous-2 {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	transition: 2s ease-in-out;
	filter: brightness(60%);
	/* background-color: blue; */
  }
  
  .triassic-1:hover,
  .jurassic-1:hover,
  .cretaceous-1:hover,
  .triassic-2:hover,
  .jurassic-2:hover,
  .cretaceous-2:hover {
	scale: 105%;
	filter: brightness(100%);
  }
  
  .triassic-1 {
	background-image: url(/public/assets/img/building-descriptions/tri-1.png);
  }

  .triassic-2 {
	background-image: url(/public/assets/img/building-descriptions/tri-2.png);
  }
  
  .jurassic-1 {
	background-image: url(/public/assets/img/building-descriptions/jur-1.png);
  }

  .jurassic-2 {
	background-image: url(/public/assets/img/building-descriptions/jur-2.png);
  }
  
  .cretaceous-1 {
	background-image: url(/public/assets/img/building-descriptions/cre-1.png);
  }  

  .cretaceous-2 {
	background-image: url(/public/assets/img/building-descriptions/cre-2.png);
  } 

.carousel {
	position: relative;
	/* background-color: red; */
}

.carousel-container {
	height: 27vw;
	width: 75vw;
	display: flex;
	grid-template-columns: auto 100rem auto;
	justify-content: space-between;
	align-items: center;
	/* background-color: pink; */
	margin-bottom: 1vw;
}

.carousel-item {
	position: relative;
	height: 28rem;
	width: 18rem;
	border-radius: 3px;
	position: absolute;
	transform: translate(-50%, -50%) scale(0.1);
	z-index: 0;
	transition: all 300ms linear;
	/* background-color: blue; */
}

.carousel-hidden {
	opacity: 0;
}

.carousel-item img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.carousel-item--main {
	transform: translate(-50%, -50%) scale(1);
	z-index: 2;
	cursor: pointer;
}

.carousel-item--left {
	transform: translate(-180%, -50%) scale(0.9);
	z-index: 1;
}

.carousel-item--right {
	transform: translate(80%, -50%) scale(0.9);
	z-index: 1;
}

.carousel-item--left img,
.carousel-item--right img {
	filter: grayscale(50%);
}

.carousel-item--right:hover {
	transform: translate(58%, -50%) scale(1.03);
	z-index: 3;
	cursor: pointer;
}

.carousel-item--left:hover {
	transform: translate(-158%, -50%) scale(1.03);
	z-index: 3;
	cursor: pointer;
}

.carousel-item--main:hover {
	transform: translate(-47.5%, -50%) scale(1.03);
}

.carousel-item:hover > .carousel-text {
	opacity: 1;
}

.carousel-item:hover .item-title {
	color: rgba(40, 46, 62, 0.6);
}

.carousel-item:hover img {
	filter: grayscale(0%);
}

.carousel-text {
	position: absolute;
	bottom: 0;
	z-index: 4;
	opacity: 0;
	transition: opacity 0.2s;
	width: 100%;
	text-align: center;
	background-color: rgba(40, 46, 62, 0.8);
	padding: 2rem 1rem;
	color: #fff;
	font-size: 1rem;
}

.carousel-text h3 {
	margin-bottom: 1rem;
}

.carousel-btns {
	position: absolute;
	transform: translate(-50%, 22rem);
	display: flex;
	gap: 2rem;
}

.carousel-btn {
	background-color: transparent;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
}

.carousel-btn svg {
	height: 3rem;
	width: 3rem;
}

.carousel-btn:hover {
	color: rgb(73, 90, 105);
}

.item-title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	padding: 1rem;
	color: rgba(40, 46, 62, 0.2);
}

/* VISIT BTN */
.visit-gallery-btn {
	position: absolute;
	background-color: red;
	height: 2.5vw;

	bottom: -11%;
	font-family: 'MedusaGothicD';
	letter-spacing: 0.2vw;
	background: linear-gradient(135deg, #987B45, #ece2d2, #987145);
	transition: all 1s ease-in-out;
	opacity: 0;
}

.carousel-item--main:hover .visit-gallery-btn {
	position: absolute;
	background-color: red;
	height: 2.5vw;
	width: 6vw;
	bottom: -11%;
	font-family: 'MedusaGothicD';
	letter-spacing: 0.2vw;
	background: linear-gradient(135deg, #987B45, #ece2d2, #987145);
	opacity: 1;
	transition: all 1s ease-in-out;
}

/* ARROWS */

.left-arrow,
.right-arrow {
  width: 5vw;
  height: 2vw;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 60%;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.left-arrow {
  background-image: url(/public/assets/img/arrows/arrow-left.png);
  left: 14%;
}

.right-arrow {
  background-image: url(/public/assets/img/arrows/arrow-right.png);
  right: 14%;
}

.left-arrow:hover,
.right-arrow:hover {
  scale: 108%;
}