.carousel__item {
	display: flex;
	justify-content: center;
}

.carousel__item:hover {
	filter: brightness(100%);
}


/* CAROUSEL */

.carousel__container {
	top: 17vw;
	height: 27vw;
	width: 75vw;
	display: flex;
	grid-template-columns: auto 100rem auto;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	/* background-color: red; */
}

.carousel__item {
	position: relative;
	height: 28rem;
	width: 18rem;
	border-radius: 3px;
	position: absolute;
	transform: translate(-50%, -50%) scale(0.1);
	z-index: 0;
	transition: all 300ms linear;
	display: flex;
	justify-content: center;
}

.carousel__item--hidden {
	opacity: 0;
}
.carousel__item--main {
	transform: translate(-50%, -50%) scale(1);
	z-index: 2;
	cursor: pointer;
}

.carousel__item--left {
	transform: translate(-180%, -50%) scale(0.9);
	z-index: 1;
}

.carousel__item--right {
	transform: translate(80%, -50%) scale(0.9);
	z-index: 1;
}

.carousel__item--right:hover {
	transform: translate(80%, -50%) scale(1.05);
	z-index: 3;
	cursor: pointer;
}

.carousel__item--left:hover {
	transform: translate(-180%, -50%) scale(1.05);
	z-index: 3;
	cursor: pointer;
}

.carousel__item--main:hover {
	transform: translate(-50%, -50%) scale(1.05);
}

.carousel__btn {
	background-color: transparent;
	height: 5rem;
	width: 5rem;
	border-radius: 50%;
	border: none;
	color: #fff;
	cursor: pointer;
}

.carousel__btn:hover {
	color: rgb(235, 234, 221);
}

/* VISIT BUTTON */
.carousel__visit-btn {
	opacity: 0;
	position: absolute;
	width: 6vw;
	height: 2.5vw;
	align-items: center;
	bottom: -11%;
	transition: opacity 0.3s ease;
}

.carousel__item:hover .carousel__visit-btn {
	opacity: 1;
}

.carousel__item--main:hover .carousel__visit-btn {
	width: 6vw;
	opacity: 1;

}

/* ARROWS */
.carousel__arrow--left,
.carousel__arrow--right {
	width: 5vw;
	height: 2vw;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 60%;
	transition: all 300ms ease-in-out;
	cursor: pointer;
}

.carousel__arrow--left {
	background-image: url(/assets/img/arrows/arrow-left.png);
	left: 18%;
}

.carousel__arrow--right {
	background-image: url(/assets/img/arrows/arrow-right.png);
	right: 18%;
}

.carousel__arrow--left:hover,
.carousel__arrow--right:hover {
	scale: 108%;
}

.carousel__item--disabled:hover {
	scale: none;
	filter: none;
}
