.profilePage {
    width: 100vw;
    height: 100vh;
    background-image: url(/public/assets/img/bg/rockBg.png);
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

/* PET CONTAINER START */

.petUserDataContainer {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
}

.petContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.petImg {
    height: 100%;
    transform-origin: center bottom;
    animation: breathing-pet 4s ease-in-out infinite;
    margin-right: 10%;
    /* background-color: white; */
}

.userDataContainer {
    width: 60%;
    height: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: chocolate; */
}

.nameContainer,
.mailContainer {
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    border: none;
    background: #ECEAD2;
    font-family: "Lato";
}

.nameContainer p,
.mailContainer p {
    margin-left: 2%;
    font-family: "MedusaGothic";
    letter-spacing: 0.1vw;
    color: #2b0202;
}

.editNameBtn,
.editMailBtn {
    position: absolute;
    width: 2.5vw;
    height: 2.5vw;
    right: -3%;
}

.walletAccessBtn {
    height: 30%;
    width: 40%;
    font-size: 0.9vw;
    background-color: red;
}

/* PET CONTAINER END */

/* FIDEILTY SYSTEM START */

.fidelitySystemContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
}

.fidelitySystemTitleContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    /* background-color: lightblue; */
}

.fidelitySystemTitle {
    width: 60%;
    height: 70%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "MedusaGothic";
    font-size: 1.2vw;
    color: rgb(233, 235, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3vw;
    text-align: center;
    border-radius: 5px;
    background-image: url(/public/assets/img/landing-page/title-bg.png);
}

.progress-bar {
    width: 100%;
    height: 6%;
    /* background-color: lightcoral; */
}

/* .container {
  width: 100%;
  height: 80%;
} */

.achievementsContainer {
    width: 100%;
    height: 70%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* FIDEILTY SYSTEM END */

@keyframes breathing-pet {

    0%,
    100% {
        transform: scaleY(1) translateY(0) scaleX(-1);
    }

    50% {
        transform: scaleY(1.02) scaleX(-1);
    }
}