.profilePage {
    width: 100vw;
    height: 100vh;
    background-image: url(/public/assets/img/bg/brown-rock-bg.png);
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
}

/* PET CONTAINER START */

.personalize-pet-btn {
    width: 9.5vw;
    height: 2vw;
    position: absolute;
    left: 10%;
    top: 5%;
    z-index: 10;
}

.petUserDataContainer {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellowgreen; */
    position: relative;
}

.petContainer {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
}

.petImg {
    height: 100%;
    transform-origin: center bottom;
    animation: breathing-pet 4s ease-in-out infinite;
    margin-right: 10%;
    /* background-color: white; */
}

.user-data-container {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    position: relative;
    background-image: url(/public/assets/img/progress/progress-container.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: chocolate; */
}

.settings-btn {
    width: 6.5vw;
    height: 2vw;
    position: absolute;
    right: 4%;
    top: 30%;
}

.nameContainer,
.mailContainer {
    width: 65%;
    height: 25%;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 5px;
    border: none;
    background: #ECEAD2;
    font-family: "Lato";
    margin-left: 4%;
    border: 4px ridge #987B45;
}

.nameContainer p,
.mailContainer p {
    margin-left: 2%;
    letter-spacing: 0.1vw;
    color: #120101;
    font-size: 1vw;
    font-weight: 500;
    cursor: default;
}

.wallet-btn {
    height: 6%;
    width: 30%;
    font-size: 0.9vw;
    /* background-color: red; */
}

/* PET CONTAINER END */

/* FIDEILTY SYSTEM START */

.fidelitySystemContainer {
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    /* background-color: brown; */
}

.fidelity-system-btn {
    width: 8vw;
    height: 2vw;
    position: absolute;
    right: 0%;
    top: 1%;
}

.fidelitySystemTitleContainer {
    width: 85%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    /* background-color: lightblue; */
}

.fidelitySystemTitle {
    width: 60%;
    height: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "MedusaGothic";
    font-size: 1.2vw;
    color: rgb(233, 235, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3vw;
    text-align: center;
    border-radius: 5px;
    background-image: url(/public/assets/img/landing-page/title-bg.png);
}

.achievement-img-container {
    width: 4.5vw;
    height: 4.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0%;
    background-image: url(/public/assets/img/progress/achievement-container.png);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.progress-bar {
    width: 80%;
    height: 5%;
    margin-bottom: 2%;
    /* background-color: lightcoral; */
}

.achievementsContainer {
    width: 100%;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color: lightgoldenrodyellow; */
}

/* FIDEILTY SYSTEM END */

@keyframes breathing-pet {

    0%,
    100% {
        transform: scaleY(1) translateY(0) scaleX(-1);
    }

    50% {
        transform: scaleY(1.02) scaleX(-1);
    }
}