.profilePage {
    width: 100vw;
    height: 100vh;
    background-image: url(/public/assets/img/bg/rockBg.png);
    background-position: bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {
    width: 90%;
    height: 75%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PET CONTAINER START */

.petUserDataContainer {
    width: 45%;
    height: 100%;
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.petContainer {
    width: 100%;
    height: 65%;
    background-color: rebeccapurple;
}

.userDataContainer {
    width: 80%;
    height: 30%;
    background-color: chocolate;
}

/* PET CONTAINER END */

/* FIDEILTY SYSTEM START */

.fidelitySystemContainer {
    width: 50%;
    height: 100%;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fidelitySystemTitleContainer {
    width: 100%;
    height: 10%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.fidelitySystemTitle {
    width: 60%;
    height: 70%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: "MedusaGothic";
    font-size: 0.9vw;
    color: rgb(43, 23, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.3vw;
    text-align: center;
    border: 4px double #5e4528;
    background: linear-gradient(135deg,#5e4528, #f0eccd,#eae4c0, #5e4528);
    border-radius: 5px;
}

.progressBarContainer {
    width: 100%;
    height: 6%;
    background-color: lightcoral;
}

.achievementsContainer {
    width: 100%;
    height: 70%;
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.achievementContainer {
    width: 100%;
    height: 20%;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fidelitySystemAccessBtn {
    width: 20%;
    height: 7%;
    background-color: #eae4c0;
}

.achievementDescriptionContainer {
    width: 50%;
    height: 100%;
    background-color: lightseagreen;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

.achievementImg {
    width: 6vw;
    height: 6vw;
    background-color: white;
    position: absolute;
    left: 0;
    top: -10%;
}

.achievementName {
    width: 70%;
    height: 30%;
    background-color: aliceblue;
}

.achievementTxt {
    width: 70%;
    height: 70%;
    background-color: burlywood;
}

.achievementBadgesContainer {
    width: 45%;
    height: 100%;
    background-color: lightpink;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.badgeContainer {
    width: 28%;
    height: 100%;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.badgeContainer img {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
}

.badgeContainer span {
    z-index: 5;
}

/* FIDEILTY SYSTEM END */