.container-book-progress {
  width: 70%;
  height: 10%;
  background-color: yellowgreen;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 4.5%;
}

.container-pet {
  width: 8%;
  height: 100%;
  background-color: blue;
}

.container-pet img {
  width: 100%;
  height: 100%;
  animation: breathing-pet 3s ease-in-out infinite;
}

.container-line-progress {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  position: relative;
}

.line-progress {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: red;
}

.container-line-progress img {
  width: 3vw;
  height: 3vw;
  background-color: red;
  z-index: 1;
}

/* ANIMATIONS */
@keyframes breathing-pet {

  0%,
  100% {
    transform: scaleY(1) translateY(0);
  }

  50% {
    transform: scaleY(1.03);
  }
}