.progress-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/public/assets/img/progress/progress-bar.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

.progress-text {
  color: white;
  font-family: "Lato";
  letter-spacing: 0.1vw;
  font-size: 0.9vw;
  position: absolute;
  left: 45%;
}

.progress-bar {
  width: 60%;
  height: 60%;
  background: linear-gradient(135deg, #987B45, #ECEAD2, #987B45, #ECEAD2, #987B45, #ECEAD2);
  border-radius: 10px;
  margin-left: 1%;
}

.achievement-img-container {
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  background-image: url(/public/assets/img/progress/achievement-container.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.achievement-img {
  width: 5vw;
  height: auto;
  filter: brightness(20%);
}
