.progress-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar-container {
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/public/assets/img/progress/progress-bar.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.progress-text {
  color: white;
  font-family: "Lato";
  letter-spacing: 0.1vw;
  font-weight: bold;
  position: absolute;
  right: 50%;
}

.progress-bar {
  width: 60%;
  height: 60%;
  background: linear-gradient(135deg, #372715, #f4d5a6, #7b664d, #f4d5a6);
  border-radius: 4px;
  margin-left: 2%;
}

.achievement-img-container {
  width: 18%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0%;
  background-image: url(/public/assets/img/progress/achievement-container.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.achievement-img-container img {
  width: auto;
  height: 80%;
  /* filter: brightness(20%); */
}
