.title,
.subtitle,
.text {
    margin-left: 57%;
}

.title,
.subtitle {
    font-family: "MedusaGothic";
}

.title {
    width: 40%;
    font-size: 1.1vw;
    letter-spacing: 0.2vw;
    margin-top: 4%;
    margin-bottom: 0.2vw;
    color: rgb(54, 52, 49);
}

.subtitle {
      width: 40%;
    font-size: 0.9vw;
    letter-spacing: 0.2vw;
    margin-top: 0;
    color: rgb(91, 88, 84);
    margin-bottom: 0.8vw;
    border-top: 3px solid rgb(133, 133, 107);
}

.text {
    font-family: "Lato";
    text-align: justify;
    line-height: 2.2vh;
    font-weight: light;
    letter-spacing: 0.07vw;
    font-size: 0.84vw;
    margin: 4%;
    margin-top: 0%;
    margin-left: 57%;
    text-indent: 1.5vw;
}

.container-image {
    width: 47%;
    height: 90%;
    position: absolute;
    bottom: 5%;
    left: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-frame {
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-left {
    width: 95%;
    height: 98%;
}

.adults-1{
  width: 50%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-image: url(/public/assets/img/books/old-page-2.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.kids-2 {
  width: 50%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(220, 229, 255);
}

.kids-1{

}

