.subtitle {
    font-family: "MedusaGothic";
    margin-left: 4%;
    width: 40%;
    height: 20%;
    font-size: 0.9vw;
    letter-spacing: 0.2vw;
    margin-top: 0;
    color: rgb(91, 88, 84);
    margin-bottom: 0.8vw;
}

.text {
    font-family: "Lato";
    text-align: justify;
    line-height: 2.2vh;
    font-weight: light;
    letter-spacing: 0.07vw;
    font-size: 0.84vw;
    margin: 4%;
    margin-top: 0%;
    text-indent: 1.5vw;
    width: 60%;
}

.image-bottom-left,
.image-top-right {
    position: absolute;
}

.image-top-right {
    width: 28%;
    height: 50%;
    right: 2vw;
    top: 2vw;
}

.image-bottom-left {
    width: 23%;
    height: 38%;
    bottom: 2vw;
    left: 2vw;
}