.image-bottom-left,
.image-top-right {
    position: absolute;
}

.image-top-right {
    width: 28%;
    height: 50%;
    right: 2vw;
    top: 2vw;
}

.image-bottom-left {
    width: 23%;
    height: 38%;
    bottom: 2vw;
    left: 2vw;
}