nav {
    width: 30vw;
    height: 12vh;
    position: fixed;
    left: 2vw;
    top: 2vh;
    display: flex;
    justify-content: flex-end;
    align-items: top;
    z-index: 999;
    font-family: "MedusaGothicD", sans-serif;
    /* background-color: blue; */
    position: absolute;
  }

  .nav-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .routes-bg {
    margin-top: 1.5vw;
    width: 78%;
    height: 60%;
    background-image: url(/public/assets/img/nav.png);
    background-size: 100% 100%;
    /* background-color: red; */
    background-position: center right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
  }

  .routes {
    margin-right: 12%;
    width: 70%;
    height: 75%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
  }
  
  .routes a {
    text-decoration: none;
    font-size: 0.7vw;
    color: rgb(61, 59, 44);
  }

  .profile-container {
    width: 11vw;
    height: 11vw;
    /* background-color: gray; */
    background-image: url(/public/assets/img/frames/profile-frame.png);
    background-size: 100% 100%;
    top: 0%;
    left: 0%;
    position: absolute;
    margin: 0;
  }