nav {
  width: 100vw;
  height: 12vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  align-items: top;
  z-index: 999;
  font-family: "MedusaGothic", sans-serif;
  position: absolute;
  background-image: url(/assets/img/nav/nav-bg.png);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
   /* background-color: blue; */
}

.routes {
  width: 65%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center; 
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  margin-top: 2%;
}

.routes-left,
.routes-right {
  width: 40%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.routes-left {
  /* background-color:pink; */
}

.routes-right {
  /* background-color: aquamarine; */
}

.routes a {
  text-decoration: none;
  font-size: 0.8vw;
  color: rgb(166, 166, 124);
  letter-spacing: 0.2vw;
  transition: all 500ms;
  width: 20%;
  /* background-color: red; */
}

.routes a:hover {
  font-size: 0.9vw;
  color: rgb(237, 237, 204);
}

.profile-container {
  width: 10%;
  position: absolute;
  margin-top: 5vw;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  width: 6.5vw;
  height: 6.5vw;
  /* background-color: gray; */
  background-image: url(/assets/img/frames/profile-frame.png);
  background-size: 100% 100%;
  position: absolute;
  margin: 0;
  margin-top: 1vw;
}

.pet-profile-img {
  position: absolute;
  right: 0.01vw;
  /* bottom: 0.05vw; */
  height: 105%;
  width: 110%;
  /* background-color: blue; */
  background-image: url(/assets/img/evolutions/profile/profile-t-rex-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: bottom;
  animation: breathing-pet 3s ease-in-out infinite;
  cursor: pointer;
}

@keyframes breathing-pet {
  0%, 100% {
    transform: scaleY(1) translateY(0);
  }
  50% {
    transform: scaleY(1.03);
  }
}

.pawn-1,
.pawn-2,
.pawn-3,
.pawn-4,
.pawn-5,
.pawn-6,
.pawn-7,
.pawn-8,
.pawn-9,
.pawn-10,
.pawn-11,
.pawn-12 {
  position: absolute;
  width: 1.4vw;
  height: 1.4vw;
  /* background-color: white; */
  border-radius: 50%;
}

.pawn-1 {
  left: 15%;
  bottom: 0%;
}

.pawn-2 {
  left: 3%;
  bottom: 16%;
}

.pawn-3 {
  left: 0%;
  bottom: 37%;
}

.pawn-4 {
  left: 4%;
  top: 26%;
}

.pawn-5 {
  left: 16%;
  top: 10%;
}

.pawn-6 {
  left: 33%;
  top: 0%;
}

.pawn-7 {
  right: 33%;
  top: 0%;
}

.pawn-8 {
  right: 16%;
  top: 10%;
}

.pawn-9 {
  right: 4%;
  top: 26%;
}

.pawn-10 {
  right: 0%;
  bottom: 37%;
}

.pawn-11 {
  right: 3%;
  bottom: 16%;
}

.pawn-12 {
  right: 15%;
  bottom: 0%;
}

.complete,
.incomplete {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.complete {
  background-image: url(/assets/img/paws/level-paw-complete.png);
}

.incomplete {
  background-image: url(/assets/img/paws/level-paw-incomplete.png);
}

/* ------------------------------- WALLET ---------------------------------------- */

.token-container{
  position: absolute;
  top: 40%;
  right: 10vw;
  /* background-color: red; */
  width: 6vw !important;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  cursor: pointer;
}

@keyframes token-float {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-5%);
  }
}

.token-img {
  height: 90%;
  width: 60%;
  /* background-color: blue; */
  background-image: url(/assets/img/token/token.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  animation: token-float 4s ease-in-out infinite;
}

.token-amount {
  height: 100%;
  width: 40%;
  /* background-color: rebeccapurple; */
  font-size: 1.5vw;
  color: rgb(237, 237, 204);
  font-family: "Black Chancery", serif;
  letter-spacing: 0.1vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
