.triassicInferiorBg {
  width: 100vw;
  height: 100vh;
  background-image: url(/public/assets/img/era-bg/room-bg-3.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.geneticBg1,
.geneticBg2,
.geneticBg3 {
  width: 5vw;
  height: 5vw;
  position: absolute;
  filter: brightness(50%);
  transition: all 300ms ease-in-out;
}

.geneticBg1:hover,
.geneticBg2:hover,
.geneticBg3:hover {
  transform: scale(103%);
  filter: brightness(100%);
}

.geneticBg1 {
  width: 30%;
  height: 60%;
  left: 36%;
  bottom: 11%;
  /* background-color: rebeccapurple; */
}

.geneticBg2 {
  width: 35%;
  height: 65%;
  left: 3%;
  bottom: 2%;
}

.geneticBg3 {
  width: 28%;
  height: 65%;
  left: 68%;
  bottom: 9%;
}

@keyframes breathe {
  0%, 100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.03);
  }
}

.dinosaur1,
.dinosaur2,
.dinosaur3 {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: bottom;
}

.dinosaur1 {
  background-image: url(/public/assets/img/dinosaurs/ju-2-Allosaurus.png);
  animation: breathe 2s infinite ease-in-out;
}

.dinosaur2 {
  background-image: url(/public/assets/img/dinosaurs/ju-2-Apatosaurus.png);
  animation: breathe 4s infinite ease-in-out;
}

.dinosaur3 {
  background-image: url(/public/assets/img/dinosaurs/ju-2-Camarasaurus.png);
  animation: breathe 3s infinite ease-in-out;
}

.nameFrame {
  width: 17%;
  height: 9%;
  position: absolute;
  background-image: url(/public/assets/img/dinosaurs/dinosaur-name-frame.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "MedusaGothicD";
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.2vw;
  text-align: center;
  color: rgb(44, 42, 40);
}

.nameFrame1 {
  left: 3%;
  top: 28%;
}

.nameFrame2 {
  left: 40%;
  top: 30%;
}

.nameFrame3 {
  left: 68%;
  top: 25%;
}

.arrowPrevious,
.arrowNext {
  width: 4%;
  height: 5%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 25%;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowPrevious:hover,
.arrowNext:hover {
  transform: scale(105%);
}

.arrowPrevious {
  left: 3%;
  background-image: url(/public/assets/img/arrow-previous.png);
}

.arrowNext {
  right: 3%;
  background-image: url(/public/assets/img/arrow-next.png);
}

@keyframes sway {
  0% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  100% { transform: rotate(3deg); }
}
