.header {
    width: 100%;
    height: 30%;
    background-image: url(/public/assets/img/books/kids-2/page-top.png);
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.title {
    width: 100%;
    font-family: "Kids";
    margin-top: -5%;
    text-indent: 10%;
    font-size: 3vw;
    letter-spacing: 0.3vw;
    color: rgb(92, 92, 59);
}

.text {
    font-family: "Lato";
    color: rgb(90, 90, 41);
    width: 75%;
    font-size: 1.2vw;
    letter-spacing: 0.1vw;
    text-align: center;
    line-height: 2.5vw;
    font-weight: normal;
    margin-top: 15%;
}

.page-number {
    height: 15%;
    width: 15%;
    background-image: url(/public/assets/img/books/kids-2/page-number.png);
    background-position: center;
    background-size: 100% 100%;
    font-family: "Lato";
    color: rgb(90, 90, 41);
    font-size: 1.2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -5%;
}

.kids-1 {
  width: 50%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ECD685;
}

.kids-1 .header {
    width: 100%;
    height: 20%;
    position: absolute;
    top: 4%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:  #706b58;
        background-color:  #122D64;
    background-image: none;
        border: 15px solid  #706b58;
}

.kids-1 .text {
  color: #122D64;
}

.kids-1 .title {
  color: #eae1c0;
  margin: 0;
}

.kids-2 {
  width: 50%;
  height: 100%;
  position: absolute;
  transform-origin: 0 0;
  transition: transform 1.4s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  cursor: pointer;
  user-select: none;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 40px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(220, 229, 255);
}