.gamesPage {
  width: 100vw;
  height: 100vh;
  background-color: lightgray;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamesContainer {
  width: 140vh;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.puzzleaurus {
  width: 60vh;
  height: 50vh;
  background-image: url(/assets/img/era-bg/room-bg-9.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1);
}

.memodyn {
  width: 60vh;
  height: 50vh;
  background-image: url(/assets/img/era-bg/room-bg-9.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 300ms ease-in-out;
  filter: grayscale(1);
}

.puzzleaurus:hover,
.memodyn:hover {
  filter: grayscale(0);
}

